main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  max-height: calc(100vh - 200px);
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.content.small {
  grid-template-rows: minmax(0, 1fr);
  max-height: fit-content;
  padding: 0;
}

.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-color-light);
  box-sizing: border-box;
  /* border: 2px solid var(--clr-4-accent-2); */
  border-radius: 0.4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  color: var(--clr-text);
}

.item .tooltip {
  position: absolute;
  width: 100%;
  /* translate: 0 calc(-100% + 40px); */
  background-color: rgba(0, 0, 0, 0.1);
  translate: 0 calc(100% - 45px);
  bottom: 0;
  transition: all ease-in-out 300ms;
}

.item:hover {
  color: white;
}

.item:hover .tooltip {
  translate: 0 0;
}

.content img {
  object-fit: contain;
  padding: 1.5rem;
  padding-bottom: 3rem;
}

.content h2,
.content p {
  padding: 10px;
  color: inherit;
  margin: 0;
}

.item:hover h2 {
  font-size: larger;
}

@media only screen and (width < 768px) {
  main {
    overflow: auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
  }
}